<customHeaders>
      <add name="Access-Control-Allow-Origin" value="http://localhost" />
      <add name="Access-Control-Allow-Headers" value="Content-Type, Accept, X-Requested-With" />
      <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE"/>
      <add name ="cache-control" value ="private, max-age=0, no-cache"/>
    </customHeaders> 
<system.webServer>
<handlers>
 <add name="OPTIONSVerbHandler" path="*" verb="*"    modules="ProtocolSupportModule" resourceType="Unspecified" requireAccess="None"  />
</handlers>
</system.webServer>
